# Build artifacts
build/
*.xcarchive
*.ipa
*.app
*.dmg
*.pkg

# Xcode
macos/TypeTide.xcodeproj/project.xcworkspace/xcuserdata
macos/TypeTide.xcodeproj/project.xcworkspace/xcshareddata/*
!macos/TypeTide.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
macos/TypeTide.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!macos/TypeTide.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcuserstate
xcuserdata/
DerivedData/

# Windows
windows/build/
windows/out/
*.exe
*.obj
*.pdb
*.ilk
*.msi
.vs/
CMakeUserPresets.json

# macOS
.DS_Store
*.swp
*~.nib

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SPM
.swiftpm/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
# Secrets
.env
